html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(124, 73, 25);
}
h1 {
    font-size: 40px;
    text-align: center;
}
table {
    font-size: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    margin-top: 0;
}
thead {
    background-color: rgb(6, 116, 15);
    font-weight: bold;
}
tbody {
    background-color: rgb(247, 253, 255);
    opacity: 0.75;
}
span {
    font-family: monospace;
    background-color: rgb(220, 255, 196);
}
.example {
    font-size: 18px;
}
th, td {
    padding: 10px;
    border-color: rgb(53, 53, 53);
    border-style: solid;
    border-width: 2px;
}